body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;

    font-family: 'Karla', sans-serif;

    margin: 0;
    padding: 0;
}

#cover {
    display: flex;
    flex-direction: row;
    align-content: center;
}
/* Animation for pop up */

.popup img{
    position: absolute; 
    top: 220px;
    left: 80px;

    width: 400px;

    animation: pulse 3s 1;
}

@keyframes pulse {
	0% { 
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

/* Right panel */

.container {
    position: absolute;
    left: 580px;
    
    display: flex;
    flex-direction: column;
    align-content: flex-end;

    background-color: white;
    height: 100%;
}

.header{
    margin-top: 50px;
    margin-left: 50px;
}

.eatdesc {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;

    margin: 50px;
    margin-top: -50px;
}

.eatdesc1{
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-content: center;

    padding-right: 460px;
}

/* Text portion */

h1, h2 {
    margin: 0px;
    margin-bottom: 10px;
}

h1 {
    font-size: 50px;
    color: #DB4234;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    color: #666666;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: center;
    width: 300px;
    margin-bottom: 30px;
    margin-top: -30px;
}

p {
    font-size: 14px;
    color: #666666;

    margin-top: -20px;
    width: 300px;
    text-align: center;
    text-height: 2px;
}

/* Resizing images */

#food1 {
    width: 300px;
}

/* Animation for back button */

.back img {
    width: 70px;
    
    position: absolute;
    top: 600px;
    left: 1350px;
}

.back img:hover {
    animation: backPoint 0.5s ease-in-out infinite alternate;
}

@keyframes backPoint{
    0% {
        transform: translateX(0px);
    }
    100% {
      transform: translateX(-50px);
    }

  }