html, body {
    margin-top: 50px;
    margin-left: 8%;
    margin-right: 8%;

    animation: fadeInLanding 1s ease-in 0s forwards;

    background: #F8F8F5;
}

/* Don't know if I want this as a background color: background-color: #F8F8F5; */

/* FONTS */

html {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    line-height: 1.7;

    scroll-behavior: smooth;
}

h1 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
}

.otherProjects a {
    opacity: 40%;
}

.otherProjects a:hover {
    border-bottom: 2.5px solid;
    border-bottom-color: #4279FB;

    opacity: 100%;
}

b {
    font-weight: 400;
    color: #4279FB;
}

b:hover {
    animation: fadeOut 0.5s ease-in 0s forwards;
}

a {
    text-decoration: none;
    color: black;
}

.masthead2 a:hover, .aboutDesc a:hover {
    animation: fadeOut 0.5s ease-in 0s forwards;
}

p {
    font-weight: 700;
}

.caption {
    text-align: center;

    opacity: 40%;
}

/* NAVBAR */

.navName {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1.5px;
}

.navTitle {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    opacity: 30%;
    letter-spacing: 1.5px;
}

.navTitleCurrent {
    font-size: 14px;

    font-weight: 700;
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;

    border-bottom: 2.5px solid;
    border-bottom-color: #4279FB;
}

.navTitle:hover {
    animation: fadeIn 0.5s ease-in 0s forwards;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 50px;
}

.nav {
    text-align: right;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    margin: 0 20px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

/* INDEX */

#masthead {
    padding-top: 5%;
    padding-bottom: 20%;
}

.masthead1 {
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
}

.masthead2 {
    line-height: 1.7;
    font-size: 16px;
}

/*This is the grid*/

#showcaseWork {
    margin-top: 100px;
    column-count: 2;
    column-gap: 80px;
    column-fill: auto;
}

.item img {
    width: 450px;
    max-width: 100%;
}

.item {
    margin-bottom: 100px;
}

.item img:hover {
    animation: fadeOut 0.5s ease-in 0s forwards;
}

/* To zoom in on work
HELP: When image expands, it goes over the original image border */

/*.item img {
    width: 450px;
    transition: transform .15s ease-in;
}

.item {
    margin-bottom: 100px;
    overflow: hidden;
}

.item img:hover {
    transform: scale(1.254);
}*/

/* ABOUTME CONTENT */

.aboutMeTop {
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
}

#aboutMe {
    display: flex;
    flex-direction: row;
}

.aboutPhoto img {
    max-width: 100%;
}

.aboutDesc {
    line-height: 1.7;
}

.aboutTitle {
    font-weight: 700;
    letter-spacing: 2px;
}

/* CASE STUDY PAGES */

/* This is the intro section */

.pageTagsText {
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.titleText {
    font-weight: 700;
    line-height: 1.5;
    font-size: 30px;
    margin-bottom: 25px;

    width: 75%;
}

.titleTextExpand {
    font-weight: 700;
    line-height: 1.5;
    font-size: 30px;
    margin-bottom: 25px;
}

.introSubText {
    line-height: 1.7;
    margin-bottom: 50px;

    width: 90%;
}

#introDesc {
    display: flex;
    flex-direction: row;

    opacity: 40%;

    margin-bottom: 200px;
}

.descCat {
    margin-right: 100px;
}

.descCatS {
    margin-right: 60px;
}

/* Images */

#pageImg img {
    width: 100%;
    max-width: 100%;
}

#pageImg {
    margin-bottom: 200px;
}

/* 30DAYSOEGGS PAGE */
/* This is the grid portion */

.gridImg img {
    max-width: 100%;
}

.gridRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemS {
    margin: 2%;
}

/* Start of case study */

#pageSection {
    margin-bottom: 200px;
}

.pageSectionTitle {
    font-weight: 700;
    opacity: 40%;
    letter-spacing: 1px;

    margin-bottom: 25px;
}

.container {
    display: flex;
    flex-direction: row;
}

.titleTextNon {
    font-size: 30px;
    width: 70%;
    line-height: 1.5;
}

.titleTextLink {
    font-size: 30px;
}

.sectionInteraction {
    text-align: center;
}

#row {
    padding: 30px;
}

/* OTHER PROJECTS */


/* FOOTER */

#footer {
    margin-top: 100px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    opacity: 30%;
    margin-left: 20px;
    margin-right: 20px;
 }

.icon:hover {
    animation: fadeIn 0.5s ease-in 0s forwards;
}

.icon img {
    height: 20px;
}

#media {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#copyright {
    font-size: 12px;
    opacity: 30%;
}

/* ANIMATIONS */

/* Occurs when hovering over nav and footer links */
@keyframes fadeIn {
    from {
        opacity: 30%;
    }
    to {
        opacity: 100%;
    }
}

/* Fade into page once landed */
@keyframes fadeInLanding {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%
    }
}

/* Fade out when hovering over links (NOT nav and footer links) */

@keyframes fadeOut {
    from {
        opacity: 100%;
    }
    to {
        opacity: 50%
    }
}

/* RESPONSIVE  */

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    /* nav */
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        margin: 5px;
    }

    #toggle:checked + .menu {
        display: inline;
    }

    /* index.html */
    #masthead, #showcaseWork {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      
      display: flex;
      flex-direction: column;
    }

    /* footer */
    #footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #copyright {
        margin-bottom: 10%;
    }

    /* about.html */
    #aboutMe {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        
        display: flex;
        flex-direction: column;
    }
    
    /* case studies */
    .intro, #introDesc {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    #row1, #row2 {
        float: left;
        width: 100%;
    }

    /* 30daysofeggs grid */
    #grid, .gridRow {
        width: 100%;

        display: flex;
        flex-direction: column;
    }
  }